@page
@{
    ViewData["Title"] = "Política de Privacidade";
}

<h1>Política de Privacidade</h1>

<p>
    Política de Privacidade da Loja de Produtos para Nerds<br />

    Última atualização: [04/11/2023]<br />

    A sua privacidade é importante para nós na Loja de Produtos para Nerds. Esta política de privacidade explica como coletamos, usamos, compartilhamos e protegemos as informações pessoais que você fornece ao usar nossos serviços. Ao acessar ou utilizar nosso site, você concorda com as práticas descritas nesta política de privacidade.
    <br />
    1. Informações Coletadas
    <br />
    Coletamos informações pessoais que você nos fornece voluntariamente, como nome, endereço de e-mail, informações de pagamento e detalhes de entrega quando você faz uma compra em nossa loja.
    <br />
    2. Uso de Informações Pessoais
    <br />
    Usamos suas informações pessoais para processar pedidos, entregar produtos, responder a perguntas e fornecer suporte ao cliente. Também podemos usar suas informações para enviar atualizações sobre novos produtos, ofertas especiais e promoções, caso você tenha optado por receber essas comunicações.
    <br />
    3. Compartilhamento de Informações
    <br />
    Nós não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros não afiliados, exceto quando necessário para cumprir com os propósitos descritos nesta política de privacidade, como o processamento de pedidos.
    <br />
    4. Segurança
    <br />
    Tomamos medidas razoáveis para proteger suas informações pessoais contra perda, uso indevido, acesso não autorizado e divulgação. No entanto, nenhum sistema de segurança é totalmente à prova de falhas, e não podemos garantir a segurança absoluta de suas informações.
    <br />
    5. Cookies e Tecnologias Semelhantes
    <br />
    Usamos cookies e tecnologias semelhantes para melhorar a sua experiência de compra em nosso site. Você pode gerenciar suas preferências de cookies através das configurações do seu navegador.
    <br />
    6. Seus Direitos
    <br />
    Você tem o direito de acessar, corrigir ou excluir suas informações pessoais. Se desejar exercer esses direitos ou tiver alguma dúvida sobre nossa política de privacidade, entre em contato conosco através das informações de contato fornecidas abaixo.
    <br />
    7. Alterações na Política de Privacidade
    <br />
    Esta política de privacidade pode ser atualizada de tempos em tempos para refletir mudanças em nossas práticas de coleta e uso de informações. Recomendamos que você revise periodicamente esta política para estar ciente de quaisquer alterações.
    <br />
    8. Contato
    <br />
    Se tiver alguma dúvida ou preocupação relacionada à nossa política de privacidade, entre em contato conosco através do seguinte endereço de e-mail: [Seu endereço de e-mail de contato].
    <br />
    Agradecemos por escolher a Loja de Produtos para Nerds como sua loja de preferência. Estamos comprometidos em proteger sua privacidade e oferecer uma experiência de compra segura e satisfatória.
</p>
