@page
@{
    ViewData["Title"] = "Quem Somos";
}

<h1>Quem Somos</h1>

<p> Nossa loja, a heroína dos nerds de plantão, surgiu para trazer alegria, emoção e um toque de magia aos corações dos fãs mais dedicados. Como um raio de esperança em um mundo de super-heróis, nossa loja se destaca por ser o refúgio dos admiradores de quadrinhos e cultura pop. E, como a guardiã dos segredos dos heróis, temos uma imagem icônica que personifica esse compromisso: uma estante repleta de Pop Funkos representando os heróis da Marvel. Cada boneco é uma homenagem aos lendários protetores do universo, e é a nossa maneira de manter vivas as histórias que amamos. Juntos, compartilhamos a paixão pelos heróis e pelos mundos que eles habitam, fazendo de nossa loja o lugar perfeito para todos os nerds que buscam a magia da cultura pop.</p>

<img src="~/imagens/ImagemDaPaginaQuemSomos.png" alt="Imagem representativa da loja">

